@model User

@{
    ViewData["Title"] = "SetHiddenFieldValue";
}

<form asp-action="SetHiddenFieldValue">
    <h1>SetHiddenFieldValue</h1>

    <div>
        <h4>User</h4>
        <hr />
        <dl class="row">
            @Html.HiddenFor(model => model.Id)
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Age)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Age)
            </dd>
        </dl>
    </div>
    <div>
        <input type="submit" value="Submit" />|
        <a asp-action="Edit">Edit</a>
    </div>
</form>

